* {
box-sizing: border-box;
margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation bar */
.logo-img {
  width: 30vh;
  margin-bottom: 5vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  display: inline-block;
  position: relative;
  margin: 2vh;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000;
  font-weight: 600;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1D7552;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* a:hover {
  cursor: pointer;
} */

main {
  width: 90%;
  margin: 5vh auto;
  
}

.language-link {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* Projects */

.projects-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  background-color: lightgrey;
}

.project-status {
  padding: 5%;
  text-align: justify;
}

/* Logistics */

.logistics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
      ". ."
      ". .";
  background-color: lightgrey;
}

/* Equipment */
.equipment-table {
  display: flex;
  justify-content: space-around;
}


/* Go to top button */
.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1.5em 3em 0
}

svg {
  width: 50px;
  opacity: 0.3;
}

svg:hover {
  opacity: 1;
}

/* Footer */

hr {
  width: 90%;
}

.iso-9001-2000 {
  border-right: 1px solid gray;
  padding: 0 15vh;
  border-left: 1px solid gray;
}

.contact-info {
  padding: 0 2em;
}
