body {
  font-family: "Poppins", sans-serif;
}

.logo-img {
  width: 30vh;
  margin-bottom: 5vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  padding: 2vh;
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

main {
  width: 90%;
  margin: 5vh auto;
}

.language-link {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* Equipment */
.equipment-table {
  display: flex;
  justify-content: space-around;
}


/* Go to top button */
.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1.5em 3em 0
}

svg {
  width: 50px;
  opacity: 0.3;
}

svg:hover {
  opacity: 1;
}

/* Footer */

hr {
  width: 90%;
}

.iso-9001-2000 {
  border-right: 1px solid gray;
  padding: 0 15vh;
  border-left: 1px solid gray;
}

.contact-info {
  padding: 0 2em;
}
